apiVersion: v1
kind: Service
metadata:
  name: weather-app-service
  namespace: weather-app
spec:
  type: NodePort
  selector:
    app: weather-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
